zorhrncic_zadaca_3/zorhrncic_zadaca_3_2/web/WEB-INF/wsdl/localhost_8080/zorhrncic_zadaca_3_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.zorhrncic.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.zorhrncic.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.zorhrncic.nwtis.foi.org/" schemaLocation="http://localhost:8080/zorhrncic_zadaca_3_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajMinMaxTemp">
<part name="parameters" element="tns:dajMinMaxTemp"/>
</message>
<message name="dajMinMaxTempResponse">
<part name="parameters" element="tns:dajMinMaxTempResponse"/>
</message>
<message name="dajSvaParkiralista">
<part name="parameters" element="tns:dajSvaParkiralista"/>
</message>
<message name="dajSvaParkiralistaResponse">
<part name="parameters" element="tns:dajSvaParkiralistaResponse"/>
</message>
<message name="dodajParkiraliste">
<part name="parameters" element="tns:dodajParkiraliste"/>
</message>
<message name="dodajParkiralisteResponse">
<part name="parameters" element="tns:dodajParkiralisteResponse"/>
</message>
<message name="dajVazeceMeteoPodatke">
<part name="parameters" element="tns:dajVazeceMeteoPodatke"/>
</message>
<message name="dajVazeceMeteoPodatkeResponse">
<part name="parameters" element="tns:dajVazeceMeteoPodatkeResponse"/>
</message>
<message name="dajZadnjeMeteoPodatke">
<part name="parameters" element="tns:dajZadnjeMeteoPodatke"/>
</message>
<message name="dajZadnjeMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeResponse"/>
</message>
<message name="dajSveMeteoPodatke_1">
<part name="parameters" element="tns:dajSveMeteoPodatke_1"/>
</message>
<message name="dajSveMeteoPodatke_1Response">
<part name="parameters" element="tns:dajSveMeteoPodatke_1Response"/>
</message>
<message name="dajSveMeteoPodatke">
<part name="parameters" element="tns:dajSveMeteoPodatke"/>
</message>
<message name="dajSveMeteoPodatkeResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajMinMaxTemp">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajMinMaxTempRequest" message="tns:dajMinMaxTemp"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajMinMaxTempResponse" message="tns:dajMinMaxTempResponse"/>
</operation>
<operation name="dajSvaParkiralista">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajSvaParkiralistaRequest" message="tns:dajSvaParkiralista"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajSvaParkiralistaResponse" message="tns:dajSvaParkiralistaResponse"/>
</operation>
<operation name="dodajParkiraliste">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dodajParkiralisteRequest" message="tns:dodajParkiraliste"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dodajParkiralisteResponse" message="tns:dodajParkiralisteResponse"/>
</operation>
<operation name="dajVazeceMeteoPodatke">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeRequest" message="tns:dajVazeceMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajVazeceMeteoPodatkeResponse" message="tns:dajVazeceMeteoPodatkeResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeRequest" message="tns:dajZadnjeMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeResponse" message="tns:dajZadnjeMeteoPodatkeResponse"/>
</operation>
<operation name="dajSveMeteoPodatke_1">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatke_1Request" message="tns:dajSveMeteoPodatke_1"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatke_1Response" message="tns:dajSveMeteoPodatke_1Response"/>
</operation>
<operation name="dajSveMeteoPodatke">
<input wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeRequest" message="tns:dajSveMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.zorhrncic.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeResponse" message="tns:dajSveMeteoPodatkeResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajMinMaxTemp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSvaParkiralista">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajParkiraliste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajVazeceMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatke_1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8080/zorhrncic_zadaca_3_1/GeoMeteoWS"/>
</port>
</service>
</definitions>